@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logos {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 25%;
  margin-left: -150px;
}

.img-des {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.btn {
  margin-top: 10px;
  margin-left: 18%;
  color: grey;
  background-color: #fff;
  /*background-color: #fdf4e3;*/
}

.btn:hover {
  color: #fff;
  background-color: #244c54;
  font-weight: bold;
}

.logos-mobile{
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  /*background-color: #fdf4e3;*/
  background-color: #fff;
}

canvas {
  cursor: url("../images/pen.ico"), crosshair;
}

span {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  width: 80%;
  font-weight: 700;
  top: 8%;
  left: 50%;
  /*color: #3c3431;*/
  color: #cca47c;
  margin-top: -40px;
  margin-left: -40%;
}

span h1{
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}

span h4{
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

span #info {
  font-family: "Montserrat", sans-serif;
  opacity: 0.7;
  color: #000;
  font-weight: 400;
}
span h4 label {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 35px;
  background-image: linear-gradient(
    to left,
    purple,
    indigo,
    blue,
    green,
    rgb(148, 126, 0),
    orange,
    red
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent;  */
  /* color: #244c54; */
}








@media screen and (max-width: 830px) {

.logos-mobile{
  display: block;
}


#canvas{
  display: none;
}

span{
 display: none;
}

.logos{
  display: none;
}

body{
  background-color: #000;
}

@import "compass/css3";
 * {
   box-sizing: border-box;
}
 html {
   background: #000;
   background-size: cover;
   font-size: 10px;
   height: 100%;
   overflow: hidden;
   position: absolute;
   text-align: center;
   width: 100%;
}


}

/*Mobile Styes*/

.mobile-logo{
width:300px;
display: block;
 margin: 0 auto;
 margin-top:30px;
}

.rotate-scale-up-ver {
  -webkit-animation: rotate-scale-up-ver 2s linear both;
          animation: rotate-scale-up-ver 2s linear both;

}

.flash {
           opacity: 1;
 -webkit-animation: flash 1.5s 1.9s;
 animation: flash 1.5s 1.9s;
}

/*.shine {
 

  -webkit-animation: shine 3s ease-in-out  infinite;
          animation: shine 3s ease-in-out  infinite;
}*/



/**
 * ----------------------------------------
 * animation rotate-scale-up-ver
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up-ver {
  0% {
    -webkit-transform: scale(3) rotateY(0);
            transform: scale(3) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(180deg);
            transform: scale(2) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
            transform: scale(1) rotateY(360deg);
  }
}
@keyframes rotate-scale-up-ver {
  0% {
    -webkit-transform: scale(3) rotateY(0);
            transform: scale(3) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(180deg);
            transform: scale(2) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
            transform: scale(1) rotateY(360deg);
  }
}

/*.slide-in-elliptic-top-bck {
  -webkit-animation: slide-in-elliptic-top-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
          animation: slide-in-elliptic-top-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}*/

.slide-in-left {
  -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
          animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.logo2-mobile{
  width:300px;
  display: block;
  margin: 0 auto;
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-bck
 * ----------------------------------------
 */
/*@-webkit-keyframes slide-in-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(-600px) rotateX(30deg) scale(6.5);
            transform: translateY(-600px) rotateX(30deg) scale(6.5);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -500px;
            transform-origin: 50% -500px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(-600px) rotateX(30deg) scale(6.5);
            transform: translateY(-600px) rotateX(30deg) scale(6.5);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -500px;
            transform-origin: 50% -500px;
    opacity: 1;
  }
}*/


@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}





@-webkit-keyframes flash {
 0% {
  opacity: .4;
 }
 100% {
  opacity: 1;
 }
}
@keyframes flash {
 0% {
  opacity: .4;
 }
 100% {
  opacity: 1;
 }
}
